################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Debug
/.vs
/dotnet/MHHelloWorld/bin
/dotnet/MHHelloWorld/obj
/dotnet/MHHelloWorld/Properties/PublishProfiles
/dotnet/MHSharpLibrary/bin
/dotnet/MHSharpLibrary/obj
/dotnet/MHSharpLibrary/Properties/PublishProfiles
/dotnet/MHSharpFrame/bin/Debug/net7.0
/dotnet/MHSharpFrame/obj/Debug/net7.0/ref
/dotnet/MHSharpFrame/obj/Debug/net7.0/refint
/dotnet/MHSharpFrame/obj/Debug/net7.0
/dotnet/MHSharpFrame/obj
/dotnet/MHSharpFrame/bin/Release/net7.0
/dotnet/MHSharpFrame/Properties
/dotnet/MHSharpLibrary/Properties
