################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Debug
/.vs
/dotnet/MHHelloWorld/bin
/dotnet/MHHelloWorld/obj
/dotnet/MHHelloWorld/Properties/PublishProfiles
/dotnet/MHSharpLibrary/bin
/dotnet/MHSharpLibrary/obj
